{% extends "base.html" %}

{% block content %}
    <h1>{{ dish.dish_name }}</h1>
    <hr>
    <p>
    <img src="{{ dish.photo }}" width="128" height="128">
    </p>
    <p>delivery time: {{ dish.deliveryTime }}</p>
    <p>expected order number: {{ dish.expected_order_number }}</p>
    <p>current order number: {{ dish.current_order_number }}</p>
    <p>rating: {{ dish.rating }}</p>
    <p>flavour: {{ dish.flavour }}</p>
    <p>potential taboo: {{ dish.potential_taboo }}</p>
    <p>description: {{ dish.description }}</p>
    <p>pick up location: {{ dish.pick_up_location }}</p>
    <p>chef: {{ dish.seller.username }}</p>
    <a href="{{ url_for('make_order', dishname=dish.dish_name) }}">Make an order</a>
{% endblock %}