{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Foodish, {{ current_user.username }}!</h1>
    <p>
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.content.label }}
        {{ form.content(size=32) }}
        {% for error in form.content.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.submit() }}
        </form>
    </p>
    <h2>Recommended dishes for you:</h2>
    {% for dish in dishes %}
        {% include 'dish_posts.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">previous page</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">next page</a>
    {% endif %}
{% endblock %}